@(form: Form[refereeData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@defining(play.core.PlayVersion.current) { version =>
    <body>
        @helper.form(action = routes.UserPanelController.createReferee(),Symbol("class") -> "forms") {
            @helper.CSRF.formField
            <label class="formLabel">Name<input type="text" name="name"></label>
            <label class="formLabel">Surname<input type="text" name="surname"></label>
            <label class="formLabel">Date of birth<input type="date" name="dateOfBirth"></label>
            <label class="formLabel">Nationality<select name="nationality">
                <option value="England">England</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Spain">Spain</option>
            </select> </label>
            <button type="submit">Add referee</button>
        }
    </body>
}
