@()
@defining(play.core.PlayVersion.current) { version =>
        <div class="aside-content">
          <h3>Related Resources</h3>
          <ul>
            <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
            <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
            <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
            <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
            <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
          </ul>
        </div>
}