@(sortScorersForm: Form[sortScorersData])(sortedScorersDefault: Int)(players:Seq[Player])(teams:Seq[Team])(games:Seq[Game])(tournaments: Seq[Tournament])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Home page") {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="collection">
      <section id="bestScorers">
        <h1>Top scorers</h1>
        @helper.form(action = routes.HomeController.sortScorers(),Symbol("class") -> "forms") {
          @helper.CSRF.formField
          <label class="formLabel"> Min number of goals <input type="number" name="value" value="@sortedScorersDefault"></label>
          <button type="submit">Show</button>
        }
        <table>
          @for(player <- players){
            <tr>
              <td>@player.getData()</td>
              <td>
                @if(player.teamID == "000000000000000000000000"){
                  Free player 
                }else{
                  @teams.find(el => el._id == player.teamID).get.name
                }
              </td>
              <td>@player.goals</td>
            </tr>
            }
        </table>
      </section>
      <section id="latestGames">
        <h1>Upcoming games</h1>
        <table>
        @for(game <- games){
          <tr>
            <td>@teams.find(el => el._id == game.team1ID).get.name</td>
            <td>@teams.find(el => el._id == game.team2ID).get.name</td>
            <td>@game.date.format("yyyy-MM-dd HH:mm")</td>
          </tr>
        }
        </table>
        <hr>
        <h1>Upcoming tournaments</h1>
        <table>
        @for(tournament <- tournaments){
          <tr>
            <td>@tournament.name</td>
            <td>@tournament.date.format("yyyy-MM-dd")</td>
            <td>@tournament.place</td>
          </tr>
        }
        </table>
      </section>
    </div>
  }
}