@()(implicit request: RequestHeader, flash: Flash)

@outmain("Login") {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="wrapper">
            <article class="userRef">
                <form class="logForm" method="post" action="@routes.AuthUserController.validateLoginPost()">
                    @helper.CSRF.formField
                    <h3>LOGIN</h3>
                    <h4>Username:</h4>
                    <input type="text" name="username">
                    <h4>Password:</h4>
                    <input type="password" name="password">
                    <input type="submit" value="Submit">
                </form>
                <p class="auth-link"><a href="@routes.AuthUserController.register()">REGISTER</a></p>
            </article>
        </div>
    }
}