@()(implicit request: RequestHeader, flash: Flash)

@outmain("Login") {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="wrapper">
            <article class="userRef">
                <form class="logForm" method="post" action="@routes.AuthUserController.createUser()">
                        <!-- Add in to our form a CSRF token -->
                    @helper.CSRF.formField
                    <h3>REGISTER</h3>
                    <h4>Username:</h4>
                    <label>
                        <input type="text" name="username">
                    </label>
                    <h4>Password:</h4>
                    <label>
                        <input type="password" name="password">
                    </label>
                    <input type="submit" value="Submit">
                </form>
                <p class="auth-link"><a href="@routes.AuthUserController.login()">LOGIN</a></p>
            </article>
        </div>
    }
}