@(title:String)(siema: Html)(elo: Html)(teams:Seq[Team])(coach:Seq[Coach])(implicit request: RequestHeader, messages: MessagesProvider)
@main("Teams") {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="collection">
            <div class="form">
                @siema
            </div>
            <table class="view">
                <tr>
                    <th>Team name</th>
                    <th>Coach</th>
                </tr>
                @for((team,i) <- teams.zipWithIndex){
                    <tr>
                        <td>@team.name</td>
                        <td>@if(!coach.exists(el => el._id == team.coach)){
                            No coach assigned yet
                        }else{
                            @coach.find(el => el._id == team.coach).get.name
                            @coach.find(el => el._id == team.coach).get.surname
                        }</td>
                        <td>
                            <form method="post" action="@routes.TeamController.deleteTeam()">
                                @helper.CSRF.formField
                            <input type="hidden" name="index" value="@team._id">
                            <input type="submit" value="Delete">
                            </form>
                        </td>
                        <td>
                            <form method="post" action="@routes.TeamController.editTeam()">
                                @helper.CSRF.formField
                            <input type="hidden" name="index" value="@team._id">
                            <input type="submit" value="Edit">
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <div class="form">
                @elo
            </div>
        </div>
    }
}