@(gameForm: Form[gameData])(tour:Tournament)(games:Seq[Game])(teams:Seq[Team])(refs:Seq[Referee])(players:Seq[Player])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@defining(play.core.PlayVersion.current) { version =>
    <body>
        @helper.form(action = routes.TournamentController.fillGame(),Symbol("class") -> "forms") {
            @helper.CSRF.formField
            <label>
                Game<select name="_id" >
                @for((game,i) <- games.filter(el => el.tourID == tour._id).zipWithIndex){
                    <option value="@game._id">
                        @teams.find(el => el._id == game.team1ID).get.name
                        @game.result
                        @teams.find(el => el._id == game.team2ID).get.name
                    </option>
                }
                </select>
            </label>
            <div class="playerStats">
                <label>
                    Date and Time of Game
                    <input name="date" type="datetime-local">
                </label>
                <label>
                    Wynik<input type="text" name="result">
                </label>
            </div>
            <div class="playerStats">
                <label>
                    Referee <select name="refereeID">
                        @for((ref,i) <- refs.zipWithIndex){
                            <option value="@ref._id">
                                @ref.name @ref.surname
                            </option>
                        }
                    </select>
                </label>
                <label>
                    Scorers <select name="scorers[]" multiple>
                    @for((player,i) <- players.filter(el => tour.teams.contains(el.teamId)).zipWithIndex){
                        <option value="@player._id">
                            @player.name @player.surname
                        </option>
                    }
                    </select>
                </label>
            </div>
            <button type="submit">Add game</button>
        }
    </body>
}
