@(gameForm: Form[gameData])(tours:Seq[Tournament])(games:Seq[Game])(teams:Seq[Team])(refs:Seq[Referee])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@defining(play.core.PlayVersion.current) { version =>
    <body>
        @helper.form(action = routes.TournamentController.addGame(),Symbol("class") -> "forms") {
            @helper.CSRF.formField
            <label>
                Tournament<select name="tourID">
                @for((tour,i) <- tours.zipWithIndex){
                    <option value="@tour._id">@tour.name</option>
                }
                </select>
            </label>
            <label>Game<select name="_id">
                @for((game,i) <- games.zipWithIndex){
                    <option value="@game._id">
                        @teams.find(el => el._id == game.team1ID).get.name
                        @game.result
                        @teams.find(el => el._id == game.team2ID).get.name
                    </option>
                }
            </select>
            </label>
            <label>
                Date and Time of Game
                <input name="date" type="datetime-local">
            </label>
            <div class="playerStats">
                <label>
                    Referee <select name="refereeID">
                        @for((ref,i) <- refs.zipWithIndex){
                            <option value="@ref._id">
                                @ref.name @ref.surname
                            </option>
                        }
                    </select>
                </label>
            </div>
            <button type="submit">Add game</button>
        }
    </body>
}
