@(playerForm: Form[Player])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@players {
    @defining(play.core.PlayVersion.current) { version =>
        <body>
            @helper.form(action = routes.PlayerController.index()) {
                @helper.CSRF.formField
                @helper.inputText(playerForm("Name"))
                @helper.inputText(playerForm("Surname"))
                <div class="form-actions">
                    <button type="submit">Add player</button>
                </div>
            }
        </body>
    }
}
