@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Check these!</h3>
<ul>
  <li><a href="@routes.HomeController.home()">Home</a>
  <li><a href="@routes.HomeController.tournaments()">Tournaments</a>
  <li><a href="@routes.HomeController.teams()">Teams</a>
  <li><a href="@routes.HomeController.players()">Players</a>
  <li><a href="@routes.HomeController.panel()">Panel</a>
</ul>
<h3>Related Resources</h3>
<ul>
  <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
  <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
  <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
  <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
  <li><a href="https://pzpn.pl/" target="_blank">PZPN</a></li>
</ul>
}