@*
 * This template is called from the `home` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
@*    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.js")"></script>*@
@*    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>*@
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">TOURNAMENTS</div>
                <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                    <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                    <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="@routes.HomeController.home()">Home</a></li>
                    <li><a href="@routes.HomeController.tournaments()">Tournaments</a></li>
                    <li><a href="@routes.HomeController.teams()">Teams</a></li>
                    <li><a href="@routes.HomeController.players()">Players</a></li>
                    <li><a href="@routes.HomeController.panel()">Panel</a></li>
                    <li><a href="@routes.AuthUserController.logout()">Logout</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <article>
        <section>
            @content
        </section>
        <aside>
            @commonSidebar()
        </aside>
    </article>
    <footer>
        @commonFooter()
    </footer>
</body>

</html>