@(optionUser: Option[User])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Panel") {
    @defining(play.core.PlayVersion.current) { version =>
            <div class="wrapper doc">
                <article>
                    <h2> Hello @optionUser.get.username! </h2>
                </article>
            </div>
            <div class="wrapper doc">
                <p>Your roles: </p>
                <ul>
                    @for((role) <- optionUser.get.roles){
                        <li>@role</li>
                    }
                </ul>
            </div>
            <div class="wrapper doc">
                @if(optionUser.get.isBanned){
                    <p>You're banned!</p>
                }else{
                    <p>Your account is OK!</p>
                }
            </div>
    }
}