@(title:String)(siema:Html)(players:Seq[Player])(teams:Seq[Team])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Players") {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="wrapper doc">
            <div class="form">
                @siema
            </div>

            <table class="view">
                <thead class="singleton">
                    <th>Imię i nazwisko</th>
                    <th>Klub</th>
                    <th>Data urodzenia</th>
                    <th>Występy</th>
                    <th>Gole</th>
                </thead>
                @for((player,i) <- players.zipWithIndex) {
                    <tr class="singleton">
                        <td>@player.name @player.surname </td>
                        <td>@if(!teams.exists(el => el._id == player.teamID)){
                            Brak klubu
                        }else{
                            @teams.find(el => el._id == player.teamID).get.name
                        }</td>
                        <td>@player.dateOfBirth.format("yyyy-MM-dd")</td>
                        <td>@player.appearances</td>
                        <td>@player.goals</td>
                        <td>
                            <form method="post" action="@routes.PlayerController.deletePlayer()">
                                @helper.CSRF.formField
                            <input type="hidden" name="index" value="@player._id">
                            <input type="submit" value="Delete">
                            </form>
                        </td>

                    </tr>
                }
            </table>
        </div>
    }
}