@()

@outmain("Login") {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="wrapper">
            <article>
                <form method="post" action="@routes.AuthUserController.createUser()">
                    <h3>REGISTER</h3>
                    Username: <input type="text" name="username">
                    Password: <input type="password" name="password">
                    <input type="submit" value="Submit">
                </form>
                <p class="auth-link"><a href="@routes.AuthUserController.login()">LOGIN</a></p>
            </article>
        </div>
    }
}