@(title:String)(siema:Html)(teams:Seq[Team])(coach:Seq[Coach])(implicit request: RequestHeader, messages: MessagesProvider)
@main("Teams") {
    @defining(play.core.PlayVersion.current) { version =>
            <div class="wrapper doc">
                <div class="form">
                    @siema
                </div>
                <table class="view">
                    <thead class="singleton">
                        <th>Nazwa klubu</th>
                        <th>Trener</th>
                    </thead>
                    @for((team,i) <- teams.zipWithIndex){
                        <tr>
                            <td>@team.name</td>
                            <td>@if(!coach.exists(el => el._id == team.coach)){
                                Brak trenera
                            }else{
                                @coach.find(el => el._id == team.coach).get.name
                                @coach.find(el => el._id == team.coach).get.surname
                            }</td>
                            <td>
                                <form method="post" action="@routes.TeamController.deleteTeam()">
                                    @helper.CSRF.formField
                                <input type="hidden" name="index" value="@team._id">
                                <input type="submit" value="Delete">
                                </form>
                            </td>
                        </tr>
                    }
                </table>

            </div>
    }
}