@(title:String)(siema : Html, game:Html)(tours:Seq[Tournament])(teams:Seq[Team])(games:Seq[Game])

@main("Tournaments") {
  @defining(play.core.PlayVersion.current) { version =>
      <div id="tournaments">
          <div class="form">
              @siema
          </div>
          <table class="view">
              <thead class="singleton">
                  <th>Nazwa turnieju</th>
                  <th>Miejsce</th>
                  <th>Data</th>
              </thead>
              @for(tour <- tours){
                  <tr>
                      <td>@tour.name</td>
                      <td>@tour.place</td>
                      <td>@tour.date</td>
                  </tr>
                  @for(game <- tour.games){
                      <tr>
                          @teams.find(el => games.find(el => el._id == game).get.team1ID == el._id).get.name
                          @games.find(el => el._id == game).get.result
                          @teams.find(el => games.find(el => el._id == game).get.team2ID == el._id).get.name
                      </tr>
                  }
              }
              </table>
          <div class="form">
            @game
          </div>
      </div>
  }
}