@(title:String)(siema : Html, game:Html)(tours:Seq[Tournament])

@main("Tournaments") {
  @defining(play.core.PlayVersion.current) { version =>
      <div id="tournaments">
          <div class="form">
              @siema
          </div>
          <table class="view">
              <thead class="singleton">
                  <th>Nazwa turnieju</th>
                  <th>Miejsce</th>
                  <th>Data</th>
              </thead>
              @for((tour,i) <- tours.zipWithIndex){
                  <tr>
                      <td>@tour.name</td>
                      <td>@tour.place</td>
                      <td>@tour.date</td>
                  </tr>
              }
              </table>
          <div class="form">
            @game
          </div>
      </div>
  }
}