@(title:String)(siema : Html)(tours:Seq[Tournament])(teams:Seq[Team])(games:Seq[Game])(implicit request : RequestHeader)

@main("Tournaments") {
  @defining(play.core.PlayVersion.current) { version =>
      <div class="wrapper doc">
          <div class="form">
              @siema
          </div>
          <table class="view">
              <thead class="singleton">
                  <th>Nazwa turnieju</th>
                  <th>Miejsce</th>
                  <th>Data</th>
              </thead>
              @for(tour <- tours){
                  <tr>
                      <td>@tour.name</td>
                      <td>@tour.place</td>
                      <td>@tour.date.format("yyyy-MM-dd")</td>
                      <td>
                          <form method="post" action="@routes.TournamentController.showTournamentPage()">
                              @helper.CSRF.formField
                              <input type="hidden" name="index" value="@tour._id">
                              <input type="submit" value="show">
                          </form>
                      </td>
                  </tr>
              }
              </table>
      </div>
  }
}